mat-toolbar{
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: 80%;
  height: 36px;
  border-radius: 21px;
  background-color: #eceff1;
  border: 1px solid transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #253238;
  padding: 0 32px 0 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  font-weight: 400;
  font-size: 80%;
}

.search-input::placeholder {
  padding-left: 10px;
  font-size: 120%;
}
