table {
  width: 100%;
  user-select: none;
}

.mat-header-row th {
  font-size: 1.2em;
  color: black;
}

.mat-row {
  transition: background .2s;
  text-transform: capitalize;
}

.mat-row:hover {
  background: whitesmoke;

}
.no-results{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  opacity: 1;
  background: white;
  text-align: center;
}
